// SELECTIZE BS4
.selectize-dropdown,
.selectize-input,
.selectize-input input {
	color: $input-color;
}

.selectize-input {
	background: $input-bg;
	border: 1px solid $input-border-color;
	-webkit-border-radius: $input-border-radius;
	-moz-border-radius: $input-border-radius;
	border-radius: $input-border-radius;

	&.full {
		background-color: $input-bg;
	}

	&.dropdown-active {
		-webkit-border-radius: $input-border-radius;
		-moz-border-radius: $input-border-radius;
		border-radius: $input-border-radius;

		&::before {
			background: $input-bg;
		}
	}

	&.focus {
		border-color: $input-focus-border-color;
		-webkit-box-shadow: $input-focus-box-shadow;
		box-shadow: $input-focus-box-shadow;
	}
}

.selectize-dropdown {
	border: 1px solid $input-border-color;
	background: $input-bg;
	-webkit-box-shadow: $input-box-shadow;
	box-shadow: $input-box-shadow;
	-webkit-border-radius: 0 0 $input-border-radius $input-border-radius;
	-moz-border-radius: 0 0 $input-border-radius $input-border-radius;
	border-radius: 0 0 $input-border-radius $input-border-radius;

	[data-selectable] .highlight {
		background: rgba($primary, 0.1);
		-webkit-border-radius: $input-border-radius;
		-moz-border-radius: $input-border-radius;
		border-radius: $input-border-radius;
	}

	.optgroup-header {
		color: darken($input-color, 15%);
		background: rgba($primary, 0.05);
	}

	.optgroup:before {
		border-top: 1px solid $dropdown-divider-bg;
	}

	.active {
		background-color: rgba($primary, 0.1);
		color: darken($input-color, 15%);

		&.create {
			color: $input-color;
		}
	}

	.create {
		color: rgba($custom-select-color, 0.5);
	}

	&.form-control {
		background: $input-bg;
		border: 1px solid rgba($input-border-color, 0.15);
		-webkit-border-radius: $input-border-radius;
		-moz-border-radius: $input-border-radius;
		border-radius: $input-border-radius;
		-webkit-box-shadow: $input-box-shadow;
		box-shadow: $input-box-shadow;
	}

	&.plugin-optgroup_columns .optgroup {
		border-right: 1px solid $input-border-color;
	}

	&-header {
		border-bottom: 1px solid $input-border-color;
		background: darken($input-bg, 2.5%);
		-webkit-border-radius: $input-border-radius $input-border-radius 0 0;
		-moz-border-radius: $input-border-radius $input-border-radius 0 0;
		border-radius: $input-border-radius $input-border-radius 0 0;

		&-close {
			color: rgba($close-color, 0.5);

			&:hover {
				color: $close-color;
			}
		}
	}
}

.selectize-control {
	&.single {
		.selectize-input:after {
			border-color: $input-border-color transparent transparent transparent;
		}

		.selectize-input.input-active {
			background: $input-bg;
		}

		.selectize-input.dropdown-active:after {
			border-color: transparent transparent $input-border-color transparent;
		}

		.selectize-input.disabled {
			background-color: $input-bg;
		}
	}

	&.multi {
		.selectize-input.disabled>div,
		.selectize-input.disabled>div.active {
			color: $input-color;
			background: $input-disabled-bg;
			border: 0px solid $input-border-color;
		}

		.selectize-input>div {
			background: $gray-100;
			-webkit-border-radius: calc($input-border-radius - 1px);
			-moz-border-radius: calc($input-border-radius - 1px);
			border-radius: calc($input-border-radius - 1px);
			color: $input-color;
			border: 0px solid $input-border-color;
		
			&.active {
				background: $component-active-bg;
				color: $component-active-color;
				border: 0px solid $input-border-color;
			}
		}
	}

	&.plugin-drag_drop {
		&.multi>.selectize-input>div.ui-sortable-placeholder {
			background: $input-focus-bg !important;
			-webkit-box-shadow: $input-focus-box-shadow;
			box-shadow: $input-focus-box-shadow;
		}

		.ui-sortable-helper {
			-webkit-box-shadow: $input-box-shadow;
			box-shadow: $input-box-shadow;
		}
	}

	&.plugin-remove_button {
		[data-value] .remove {
			border-left: 1px solid $close-color;
			-webkit-border-radius: 0 $input-border-radius $input-border-radius 0;
			-moz-border-radius: 0 $input-border-radius $input-border-radius 0;
			border-radius: 0 $input-border-radius $input-border-radius 0;

			&:hover {
				background: rgba($input-border-color, 0.05);
			}
		}

		[data-value].active .remove {
			border-left-color: rgba($input-border-color, 0);
		}

		.disabled [data-value] .remove {
			border-left-color: lighten($input-border-color, 30%);
		}
	}
}

.is-invalid .selectize-input {
	border-color: $danger;
	-webkit-box-shadow: inset 0 1px 1px rgba($danger, 0.075);
	box-shadow: inset 0 1px 1px rgba($danger, 0.075);

	&:focus {
		border-color: $danger;
		-webkit-box-shadow: inset 0 1px 1px rgba($danger, 0.075), 0 0 6px lighten($danger, 10%);
		box-shadow: inset 0 1px 1px rgba($danger, 0.075), 0 0 6px lighten($danger, 10%);
	}
}

.input-group .selectize-input {
	-webkit-border-radius: 0 $input-border-radius $input-border-radius 0;
	-moz-border-radius: 0 $input-border-radius $input-border-radius 0;
	border-radius: 0 $input-border-radius $input-border-radius 0;
}