/**************************************************************************************************

    Font definitions

**************************************************************************************************/

@font-face {
    font-family: Roboto Condensed;
    src: url(../webfonts/RobotoCondensed-Regular.ttf)
}
@font-face {
    font-family: Lato;
    src: url(../webfonts/Lato-Regular.ttf)
}

/**************************************************************************************************

    Base styles

**************************************************************************************************/

.wrapper{
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.image{
   width: 300px;
   height: 300px;
   display: block;
   top: 0;
   left: 0;
   position: relative;
}
.content{
   width: 80%;
   height: 80%;
   top:30px;
   left:30px;
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   opacity: 0;
   transition: 0.6s;
}
.content:hover{
   opacity: 0.7;
}

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
    color: #fff;
    text-transform: uppercase;
    font-family: Playfair Display, serif;
}

h6,
.h6 {
    color: #fff;
    text-transform: uppercase;
    font-family: Playfair Display, serif;
}

h1 a, h2 a, h3 a, h4 a, h5 a,
a.h1, a.h2, a.h3, a.h4, a.h5 {
    color: rgba(0,0,0,0.7);
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover,
a.h1:hover, a.h2:hover, a.h3:hover, a.h4:hover, a.h5:hover {
    color: inherit;
    text-decoration: none;
}

a {
    color: #65a8eb;
}
a:hover {
    color: #63c7bf;
    text-decoration: none;
}

body {
    background-color: transparent;
    font-family: Lato, sans-serif;
    min-height: 100vh;
    font-size: 80%;
}

b {
    text-transform: uppercase;
    font-family: Playfair Display, serif;
    color: #bf9c71;
}

.hr {
    border: 1px;
    background-colour: #63c7bf;
}

/**************************************************************************************************

    Helpers

**************************************************************************************************/

.hide {
    display: none !important;
}

.parsed-text img {
    max-width: 100% !important;
    height: auto !important;
}

/**************************************************************************************************

    Layout

**************************************************************************************************/

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #ddd;
}

main {
    background-color: #777372;
    color: #A6A6A6;
    flex-grow: 1;
    display: flex;
}

main > .row {
    flex-grow: 1;
}

.darkcard {
    background-color: #0f0f0f;
    color: #A6A6A6;
    border-style: round;
    padding: 5px;
}

.darkcard a {
    color: #65a8eb;
    margin: -3px;
}
.darkcard a:hover {
    color: #63c7bf;
    text-decoration: none;
}

.main-content {
    background-color: #777372;
    display: flex;
    flex-direction: column;
}

/* Header */

.site-header-image {
    /*background-color: #eee;*/
    background-repeat: repeat;
    min-height: 200px;
}

.navbar .navbar-brand, .navbar .nav-item {
    text-transform: uppercase;
    font-family: Playfair Display, serif;
}

.navbar .row { width: 100%; }

/* Sidebar */

.sidebar {
    background-color: #1c1c1c;
    text-align: right;
    padding-right: 0px;
}

.sidebar ul {
    list-style-type: none;
    display: inline-block;
    padding-top: 30px;
}

.sidebar ul li {
    background-color: #333333;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
    margin-bottom: 1em;
    padding: 0.4em 0;

    box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.1);
}

.sidebar .sidebar-header,
.sidebar .sidebar-section .sidebar-section-header {
    text-transform: uppercase;
    font-family: Playfair Display, serif;
    font-weight: bold;
    background-color: #333333;
}

.sidebar .sidebar-header {
    background-color: #0a0a0a;
}
.sidebar .sidebar-header a {
    color: white;
}
.sidebar .sidebar-header a:hover {
    background-color: transparent;
    color: #333333;
}

.sidebar a,
.sidebar-section-header {
    display: block;
    padding: 0.1em 1em;
}
.sidebar a {
    text-transform: uppercase;
    font-family: Playfair Display, serif;
    color: #65a8eb;
}
.sidebar a:hover {
    color: #63c7bf;
}
.sidebar a:hover, .sidebar a:active, .sidebar a:focus, .sidebar a:link {
    text-decoration: none;
}
.sidebar a:hover {
    text-decoration: none;
}
.sidebar a.active, .sidebar a.active:hover {
    color: white;
    background-color: #333333;
}

.site-mobile-header {
    display: none;
    padding: 10px 20px;
}

@media (max-width: 767px) {
	.site-mobile-header {
		top: 54px !important;
    }

    .timestamp {
		margin-left: 1rem!important;
		margin-right: 1rem!important;
	}
}

@media (max-width: 991px) {
    .site-header-image {
        display: none;
        width: 100%;
    }
    .site-mobile-header {
        display: block;
        position: fixed;
		top: 68px;
        z-index: 4;
        width: 100%;
    }

    #headerNav {
        position: fixed;
        z-index: 5;
        width: 100%;
    }

    main.container-fluid {
        margin-top: 122px;
    }

    main.container-fluid > .row {
        position: relative;
    }
    .sidebar {
        position: absolute;
        padding-left: 0px;
        text-align: left;
        background-color: #333333;
        z-index: 3;
        right: 0px;
        bottom: 0px;
        top: 0px;
        overflow-y: scroll;

        left: -100%;
        transition: left 0.2s;
    }
    .sidebar.active {
        left: 0%;
    }

    .sidebar > ul {
        padding-top: 0px;
    }

    .sidebar ul {
        list-style-type: none;
        display: block;
        padding-top: 30px;
        padding-left: 0px;
    }

    .sidebar ul li {
        background-color: #333333;
        border-radius: 0;
        margin-bottom: 1em;
        padding: 0.4em 0;

        box-shadow: none;
    }

	/*fix for screen being over-wide on mobile*/
	.row {
		margin:0; max-width:100%;
	}

	.container-fluid {
		padding:0px;
	}

	.site-footer .navbar .navbar-nav {
		flex-wrap: wrap; justify-content: center;
	}
}

/* Footer */

.site-footer {
    text-align: center;
    background-color: #1c1c1c;
    width: 100%;
    bottom: 0;
}

.site-footer .navbar {
    padding-bottom: 0;
}
.site-footer .navbar .navbar-nav {
    flex-direction: row;
}
.site-footer .navbar .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
}

.site-footer .copyright {
    padding: 0 1rem 1rem;
    color: rgba(0,0,0,.3);
}

.mce-content-body {
    padding: 20px;
}

/**************************************************************************************************

    Content

**************************************************************************************************/
.modal-header {
    border-bottom: 0px;
}
.modal-header .modal-title {
    line-height: 1em;
}

.tooltip-inner {
    max-width: 350px !important;
}

.nav-tabs .nav-link.active {
    background-color: transparent;
}
.nav-tabs .nav-link {
    text-transform: uppercase;
    font-family: Roboto Condensed, serif;
}

.display-user, .display-character {
    font-weight: bold;
}

.help-icon {
    /*vertical-align: middle;*/
    cursor: pointer;
    margin: 0 5px;
    color: rgba(0,0,0,0.3);
}

.breadcrumb {
    background-color: transparent;
    padding: 0;
    font-family: Roboto Condensed, serif;
    text-transform: uppercase;
    align-items: center;
}
.breadcrumb a {
    color: rgba(0,0,0,0.3);
}
.breadcrumb a:hover {
    color: rgba(0,0,0,0.4);
    text-decoration: none;
}
.breadcrumb-item+.breadcrumb-item:before {
    content: "»";
}
.collapse-title {
    position: relative;
}
.collapse-title:after {
    content: '';
    display: inline-block;
    position: absolute;
    right: -20px;
    top: 0.425em;
    border: 0.3em solid rgba(0,0,0,0.3);
    border-color: rgba(0,0,0,0.3) transparent transparent transparent;
}

.image, .image-thumb {
    max-width: 100%;
}

.btn.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.pagination {
    flex-wrap: wrap;
}

.spoiler {
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;
    margin-bottom: 1rem;
    background: transparent;
    margin-top: 0px;
}
.spoiler-toggle {
    font-weight: bold;
    background-color: #f5f5f5;
    cursor: pointer;
    padding: .3rem 1.25rem;
    font-size: .9rem;
    font-family: Roboto Condensed, serif;
    color: inherit;
    text-transform: uppercase;
}
.spoiler-text {
    padding: .75rem 1.25rem;
    border-top: 1px solid rgba(0,0,0,0.1);
}
.text-break {
    overflow-wrap: break-word;
    word-break: break-word;
}
.small-icon {
    height: 2rem;
    padding-right: .5rem;
}

/* NOTIFICATIONS *********************************************************************************/

.notifications-table .unread, .notifications-table .unread td {
    background-color: #fffdf0;
}

/* BROWSE ****************************************************************************************/

.world-entry-image {
    text-align: center;
}

.world-entry-image img {
    max-width: 100%;
}
.world-entry-search {
    opacity: 0.5;
}

.masterlist-search-field {
    display: inline-block;
    align-items: center;
    margin-right: 1.25rem;
    margin-bottom: 1.25rem;
}
.masterlist-search-field label {
    margin-bottom: 0px;
    margin-right: 10px;
}
.masterlist-search-field input[type=text], .masterlist-search-field select {
    width: 300px;
}

/* ADMIN ****************************************************************************************/

.ranks-table tbody tr > td:last-of-type {
    text-align: right;
}

.sortable .handle {
    color: #343a40;
}
.sortable .sortable-placeholder {
    background-color: rgba(0,0,0,0.1);
}


/* LOGS ******************************************************************************************/
tr.inflow {
    background-color: #fafaff;
}
tr.outflow {
    background-color: #fffafa;
}


/* PROFILE ***************************************************************************************/

.profile-assets-card .card-body {
    background-colour: #1c1c1c;
    display: flex;
    flex-direction: column;
}
.profile-assets-card .card-body .profile-assets-content {
    flex-grow: 1;
}

.profile-assets .profile-inventory .profile-inventory-item img {
    max-width: 100%;
}

.character-bio .nav-tabs.card-header-tabs .active {
    background-color: white;
}

/* INVENTORY *************************************************************************************/

.inventory-category .inventory-body .inventory-item img {
    max-width: 100%;
}
.inventory-stack-name, .inventory-character-name {
    color: rgba(0,0,0,0.7);
}
.inventory-stack-name:hover, .inventory-character-name:hover {
    color: inherit;
    text-decoration: none;
}
tr.accountbound {
    background-color: rgba(0,0,0,0.05);
    border-radius: .25rem;
}

/* CHARACTERS ************************************************************************************/

.image-nav .nav-item a {
    border: 5px solid transparent;
    border-radius: .25rem;
    display: block;
}
.image-nav .nav-item a.active {
    border: 5px solid #ddd;
}

/* TRANSFERS *************************************************************************************/

.transfer-row, .submission-character-row {
    display: flex;
    align-items: stretch;
}
.transfer-info, .submission-character-info {
    flex-grow: 1;
}
.transfer-info .card-body, .submission-character-info .card-body {
    display: flex;
    align-items: stretch;
    flex-direction: column;
}
.transfer-info-content, .submission-character-info-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.transfer-info-content .transfer-info-body, .submission-character-info-content .submission-character-info-body {
    flex-grow: 1;
}

.collapse-toggle {
    position: relative;
}
.collapse-toggle:after {
    display: block;
    content: '';
    border: 0.3rem solid rgba(0,0,0,0.5);
    border-color: transparent transparent transparent rgba(0,0,0,0.5);
    position: absolute;
    right: -0.85rem;
    top: 0.45rem;
    transform: rotateZ(90deg)translateX(0.25rem);
}
.collapse-toggle.collapsed:after {
    transform: none;
}
.user-items .inventory-item, .user-characters .character-item {
    padding: 10px;
}
.user-items .inventory-stack, .user-characters .character-stack {
    cursor: pointer;
}
.user-items .inventory-item img, .user-characters .character-item img {
    max-width: 100%;
}
.user-characters .character-item.disabled, .user-characters .character-item.disabled .character-stack  {
    opacity: 0.5;
    cursor: not-allowed;
}
.user-items .category-selected .inventory-item, .user-characters .category-selected .character-item {
    background-color: rgba(0,0,0,0.05);
    border-radius: .25rem;
}
.user-items .category-selected.select-item-row {
    background-color: rgba(0,0,0,0.05);
}

/* SHOPS *****************************************************************************************/
.shops-row img {
    max-width: 100%;
}
.shops-row .shop-name a {
    font-weight: bold;
}

/* TRADES ****************************************************************************************/
.trade-offer .currency-item {
    background-color: transparent;
}

/* BOOKMARKS *************************************************************************************/
.bookmark-table {
    min-width: 1000px;
}

.bookmark-table .bookmark-thumbnail {
    min-width: 115px;
    width: 115px;
}

.bookmark-table .bookmark-info {
    width: 20%;
}

.bookmark-table .bookmark-notifications {
    width: 18%;
}

.bookmark-table .bookmark-actions {
    width: 18%;
}

.bookmark-table .img-thumbnail {
    width: 100px;
}


@media (min-width: 768px) {
    .fb-md-50 { flex-basis:50%; }
}

/* BOOTSTRAP TABLES *************************************************************************************/
.ubt-bottom {
  border-bottom:1px solid #dee2e6;
}

.ubt-top {
  border-top:1px solid #dee2e6;
}

.ubt-texthide {
  width:100%;
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: middle;
}

/* COMMENTS *************************************************************************************/
.comment_container {
    background-color: #333333;
    border: 3px solid #333333;
}

.comment_top {
    background-image: url('https://media.discordapp.net/attachments/805486344943173683/1145112696061169724/image.png?ex=6559314d&is=6546bc4d&hm=dd1a9d25ba0fa2ef7e061828ce1c8079d1ee6e7ed7f95b95ed539e2147d67504&');
    background-position: top -15px right -75px;
    background-repeat: no-repeat;
    padding-top: 3rem;
    padding-right: 3rem;
    padding-left: 3rem;
}

.comment_top a {
    color: #a84c39;
}

.comment_heading {
    padding-left: 0.5rem;
    position: relative;
}

.comment_heading::after {
    content: '';
    background: linear-gradient(to right, #fff 0%, transparent 45%);
    height: 2px;
    width: 100%;

    position: absolute;
    bottom: -0.25rem;
    left: 0;
}

.comment_textbox {
    background-color: rgba(0,0,0, 0.55);
    border-color: rgba(255, 255, 255, 0.55);
}

.comment_textbox:focus {
    border-color: rgba(255, 255, 255, 0.75);
    box-shadow: 0 0 0 0.2rem rgba(118, 49, 35, 0.55);
}

.comment_submit {
    background-color: rgba(118, 49, 35, 0.35);
    border: 1px solid #763123;
    border-radius: 0;
    color: #fff;
    font-family: 'Playfair Display', serif;
    font-size: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.comment_submit:hover, .comment_submit:active {
    background-color: rgba(118, 49, 35, 0.85);
}

.comment_divider {
    background: linear-gradient(to right, transparent 2%, #fff 2.1%, transparent 100%);
    height: 3px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
}

.comment_comments {
    background-color: #282828;
    border: 1px solid #fff;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 1rem 2rem;
}

.comment_comments h5 a {
    color: #fff;
}

.comment_icon {
    max-width: 75%;
}

.comment_comment {
    background-color: #1D1D1D;
}

@media (max-width: 991px) {
    .comment_comments {
        margin-left: 1rem;
        margin-right: 1rem;
        padding: 1rem 0.5rem;
    }

    .comment_comment {
        word-break: break-word;
        max-width: 100%;
    }
}

.comment_comment.featured {
    background-color: #181717;
    border: 1px solid rgba(255, 255, 255, 0.25);
}

.comment_content {
    min-height: 50px;
    font-family: 'Playfair Display', serif;
    font-size: 0.9rem;
}

.comment_options {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.55);
    font-family: 'Playfair Display', serif;
    font-size: 0.9em;
    padding: 0;
}

.comment_options:focus {
    box-shadow: 0 0 0 0.2rem rgba(118, 49, 35, 0.55);
}

.comment_options:hover, .comment_options:active {
    color: #fff;
}

.comment_replies {
    padding-left: 2rem;
    position: relative;
}

.comment_replies::before {
    content: '';
    background: linear-gradient(to bottom, transparent 0%, #fff 25%, #fff 75%, transparent 100%);
    width: 2px;

    position: absolute;
    left: 20px;
    top: 0;
    bottom: 0;
}

.comment_replies::after {
    content: '';
    background: linear-gradient(to right, #fff 0%, transparent 100%);
    height: 2px;
    width: 2%;

    position: absolute;
    left: 20px;
    top: 50%;
}

.comment_more {
    background-color: #1D1D1D;
    border-radius: 50px;
    color: rgba(255, 255, 255, 0.55);
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
}

.comment_more:hover {
    background-color: #181717;
    color: rgba(255, 255, 255, 0.85);
}

@media only screen and (max-width: 600px) {
    .comment_replies { padding-left:1rem; }

    .comment_replies::before { left: 5px; }

    .comment_replies::after { left: 5px; }
}

.comment_pagination {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.comment_pagination ul {
    margin-bottom: 0;
}

.comment_pagination .page-link {
    background-color: transparent!important;
    border-color: transparent!important;
    border-radius: 50%;
    color: rgba(255, 255, 255, 0.35);
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    transition: border-color 150ms linear;
}

.comment_pagination .page-link:hover {
    background-color: transparent!important;
    border-color: #fff!important;
}

.comment_pagination .page-item.active .page-link {
    border-color: #fff!important;
    color: #fff;
}

.comment_pagination .page-item:first-child .page-link,
.comment_pagination .page-item:last-child .page-link {
    border-color: transparent!important;
    border-radius: 0!important;
    color: transparent;
    position: relative;
}

.comment_pagination .page-item:first-child .page-link {
    margin-right: 0.75rem;
}

.comment_pagination .page-item:first-child .page-link:hover::after {
    background-color: #181717;
}

.comment_pagination .page-item:last-child .page-link {
    margin-left: 0.75rem;
}

.comment_pagination .page-item:last-child .page-link:hover::after {
    background-color: #181717;
}

.comment_pagination .page-item:first-child .page-link::before,
.comment_pagination .page-item:last-child .page-link::before {
    content: '';

    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 0;
}

.comment_pagination .page-item:not(.disabled):first-child .page-link::before,
.comment_pagination .page-item:not(.disabled):last-child .page-link::before {
    background-color: #fff;
}

.comment_pagination .disabled.page-item:first-child .page-link::before,
.comment_pagination .disabled.page-item:last-child .page-link::before {
    background-color: rgba(255, 255, 255, 0.25);
}

.comment_pagination .page-item:first-child .page-link::before {
    clip-path: polygon(100% 0, 0 50%, 100% 100%);
    left: 0;
    right: 1px;
}

.comment_pagination .page-item:last-child .page-link::before {
    clip-path: polygon(0 0, 100% 50%, 0 100%);
    left: 1px;
    right: 0;
}

.comment_pagination .page-item:first-child .page-link::after,
.comment_pagination .page-item:last-child .page-link::after {
    content: '';
    background-color: #282828;
    transition: background-color 150ms linear;

    position: absolute;
    top: 3px;
    left: 3px;
    bottom: 3px;
    right: 3px;
    z-index: 1;
}

.comment_pagination .page-item:first-child .page-link::after {
    clip-path: polygon(100% 0, 0 50%, 100% 100%);
}

.comment_pagination .page-item:last-child .page-link::after {
    clip-path: polygon(0 0, 100% 50%, 0 100%);
}
