// Badge Content Below
.badge {
    padding: $badge-padding-y $badge-padding-x;
    @include font-size($badge-font-size);
    font-weight: $badge-font-weight;
    @include border-radius($badge-border-radius);
    @include transition($badge-transition);
    &-pill {
        padding-right: $badge-pill-padding-x;
        padding-left: $badge-pill-padding-x;
        @include border-radius($badge-pill-border-radius);
    }
}
@each $color, $value in $theme-colors {
    .badge-#{$color} { @include badge-variant($value); }
}

// Alert Content Below
.alert {
    padding: $alert-padding-y $alert-padding-x;
    margin-bottom: $alert-margin-bottom;
    border: $alert-border-width solid transparent;
    @include border-radius($alert-border-radius);
    
    &-link { font-weight: $alert-link-font-weight; }
    &-dismissible {
        padding-right: $close-font-size + $alert-padding-x * 2;
        .close { padding: $alert-padding-y $alert-padding-x; }
    }
}
@each $color, $value in $theme-colors {
    .alert-#{$color} {
        @include alert-variant(theme-color-level($color, $alert-bg-level), theme-color-level($color, $alert-border-level), theme-color-level($color, $alert-color-level));
    }
}