// CONTAINS: Breadcrumbs + Pagination + Jumbotron + Progress + List-Group + Toasts + Carousel
//
// Breadcrumb Content Below
.breadcrumb {
    padding: $breadcrumb-padding-y $breadcrumb-padding-x;
    margin-bottom: $breadcrumb-margin-bottom;
    @include font-size($breadcrumb-font-size);
    background-color: $breadcrumb-bg;
    @include border-radius($breadcrumb-border-radius);

    &-item + .breadcrumb-item {
        padding-left: $breadcrumb-item-padding;
        &::before {
            padding-right: $breadcrumb-item-padding;
            color: $breadcrumb-divider-color;
        }
    }
    &-item.active { color: $breadcrumb-active-color; }
}

// Pagination Content Below
.page-link {
    padding: $pagination-padding-y $pagination-padding-x;
    margin-left: -$pagination-border-width;
    line-height: $pagination-line-height;
    color: $pagination-color;
    text-decoration: if($link-decoration == none, null, none);
    background-color: $pagination-bg;
    border: $pagination-border-width solid $pagination-border-color;

    &:hover {
        color: $pagination-hover-color;
        background-color: $pagination-hover-bg;
        border-color: $pagination-hover-border-color;
    }
    &:focus {
        outline: $pagination-focus-outline;
        box-shadow: $pagination-focus-box-shadow;
    }
}
.page-item {
    &:first-child .page-link { @include border-left-radius($border-radius); }
    &:last-child .page-link { @include border-right-radius($border-radius); }

    &.active .page-link {
        color: $pagination-active-color;
        background-color: $pagination-active-bg;
        border-color: $pagination-active-border-color;
    }
    &.disabled .page-link {
        color: $pagination-disabled-color;
        background-color: $pagination-disabled-bg;
        border-color: $pagination-disabled-border-color;
    }
}
.pagination-lg { @include pagination-size($pagination-padding-y-lg, $pagination-padding-x-lg, $font-size-lg, $line-height-lg, $pagination-border-radius-lg); }
.pagination-sm { @include pagination-size($pagination-padding-y-sm, $pagination-padding-x-sm, $font-size-sm, $line-height-sm, $pagination-border-radius-sm); }

// Jumbotron Content Below
.jumbotron {
    padding: $jumbotron-padding ($jumbotron-padding * .5);
    margin-bottom: $jumbotron-padding;
    color: $jumbotron-color;
    background-color: $jumbotron-bg;
    @include border-radius($border-radius-lg);
    @include media-breakpoint-up(sm) { padding: ($jumbotron-padding * 2) $jumbotron-padding; }
}

// Progress Bar Content Below
@if $enable-transitions {
    @keyframes progress-bar-stripes { from { background-position: $progress-height 0; } to { background-position: 0 0; } }
}
.progress {
    height: $progress-height;
    @include font-size($progress-font-size);
    background-color: $progress-bg;
    @include border-radius($progress-border-radius);
    @include box-shadow($progress-box-shadow);

    &-bar {
        color: $progress-bar-color;
        background-color: $progress-bar-bg;
        @include transition($progress-bar-transition);

        &-striped {
            @include gradient-striped();
            background-size: $progress-height $progress-height;
        }
    }
}
@if $enable-transitions {
    .progress-bar-animated {
        animation: $progress-bar-animation-timing progress-bar-stripes;
        @if $enable-prefers-reduced-motion-media-query {
            @media (prefers-reduced-motion: reduce) { animation: none; }
        }
    }
}

// List-Group Content Below
.list-group {
    @include border-radius($list-group-border-radius);

    &-item-action {
        color: $list-group-action-color;
        @include hover-focus() {
            color: $list-group-action-hover-color;
            background-color: $list-group-hover-bg;
        }
        &:active {
            color: $list-group-action-active-color;
            background-color: $list-group-action-active-bg;
        }
    }
    &-group-item {
        padding: $list-group-item-padding-y $list-group-item-padding-x;
        color: $list-group-color;
        text-decoration: if($link-decoration == none, null, none);
        background-color: $list-group-bg;
        border: $list-group-border-width solid $list-group-border-color;

        &:first-child { @include border-top-radius(inherit); }
        &:last-child { @include border-bottom-radius(inherit); }
        &.disabled, &:disabled {
            color: $list-group-disabled-color;
            background-color: $list-group-disabled-bg;
        }
        &.active {
            color: $list-group-active-color;
            background-color: $list-group-active-bg;
            border-color: $list-group-active-border-color;
        }
        & + &.active {
            margin-top: -$list-group-border-width;
            border-top-width: $list-group-border-width;
        }
    }
}
@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
        .list-group-horizontal#{$infix} {
            > .list-group-item {
                &:first-child {
                    @include border-bottom-left-radius($list-group-border-radius);
                    @include border-top-right-radius(0);
                }
                &:last-child {
                    @include border-top-right-radius($list-group-border-radius);
                    @include border-bottom-left-radius(0);
                }
                + .list-group-item {
                    border-top-width: $list-group-border-width;
                    &.active {
                        margin-left: -$list-group-border-width;
                        border-left-width: $list-group-border-width;
                    }
                }
            }
        }
    }
}
.list-group-flush > .list-group-item { border-width: 0 0 $list-group-border-width; }
@each $color, $value in $theme-colors { @include list-group-item-variant($color, theme-color-level($color, -9), theme-color-level($color, 6)); }

// Toasts Content Below
.toast {
    flex-basis: $toast-max-width;
    max-width: $toast-max-width;
    @include font-size($toast-font-size);
    color: $toast-color;
    background-color: $toast-background-color;
    border: $toast-border-width solid $toast-border-color;
    box-shadow: $toast-box-shadow;
    @include border-radius($toast-border-radius);

    &:not(:last-child) { margin-bottom: $toast-padding-x; }
    &-header {
        padding: $toast-padding-y $toast-padding-x;
        color: $toast-header-color;
        background-color: $toast-header-background-color;
        border-bottom: $toast-border-width solid $toast-header-border-color;
        @include border-top-radius(subtract($toast-border-radius, $toast-border-width));
    }
    &-body { padding: $toast-padding-x; }
}

// Modal Content Below
.modal {
    z-index: $zindex-modal;

    &-dialog {
        margin: $modal-dialog-margin;
        .modal.fade & {
            @include transition($modal-transition);
            transform: $modal-fade-transform;
        }
        .modal.show & {
            transform: $modal-show-transform;
        }
        .modal.modal-static & {
            transform: $modal-scale-transform;
        }
        &-scrollable {
            max-height: subtract(100%, $modal-dialog-margin * 2);
            .modal-content { max-height: subtract(100vh, $modal-dialog-margin * 2); }
        }
        &-centered {
            min-height: subtract(100%, $modal-dialog-margin * 2);
            &::before { height: subtract(100vh, $modal-dialog-margin * 2); }
        }
    }
    &-content {
        color: $modal-content-color;
        background-color: $modal-content-bg;
        border: $modal-content-border-width solid $modal-content-border-color;
        @include border-radius($modal-content-border-radius);
        @include box-shadow($modal-content-box-shadow-xs);
    }
    &-backdrop {
        z-index: $zindex-modal-backdrop;
        background-color: $modal-backdrop-bg;
        &.show { opacity: $modal-backdrop-opacity; }
    }
    &-header {
        padding: $modal-header-padding;
        border-bottom: $modal-header-border-width solid $modal-header-border-color;
        @include border-top-radius($modal-content-inner-border-radius);
        .close {
            padding: $modal-header-padding;
            margin: (-$modal-header-padding-y) (-$modal-header-padding-x) (-$modal-header-padding-y) auto;
        }
    }
    &-title { line-height: $modal-title-line-height; }
    &-body { padding: $modal-inner-padding; }
    &-footer {
        padding: $modal-inner-padding - $modal-footer-margin-between * .5;
        border-top: $modal-footer-border-width solid $modal-footer-border-color;
        @include border-bottom-radius($modal-content-inner-border-radius);
        > * { margin: $modal-footer-margin-between * .5; }
    }
}
@include media-breakpoint-up(sm) {
    .modal-dialog {
        max-width: $modal-md;
        margin: $modal-dialog-margin-y-sm-up auto;

        &-scrollable {
            max-height: subtract(100%, $modal-dialog-margin-y-sm-up * 2);
            .modal-content { max-height: subtract(100vh, $modal-dialog-margin-y-sm-up * 2); }
        }
        &-centered {
            min-height: subtract(100%, $modal-dialog-margin-y-sm-up * 2);
            &::before { height: subtract(100vh, $modal-dialog-margin-y-sm-up * 2); }
        }
    }
    .modal-content { @include box-shadow($modal-content-box-shadow-sm-up); }
    .modal-sm { max-width: $modal-sm; }
}
@include media-breakpoint-up(lg) { .modal-lg, .modal-xl { max-width: $modal-lg; } }
@include media-breakpoint-up(xl) { .modal-xl { max-width: $modal-xl; } }

// Carousel Content Below
.carousel-item { @include transition($carousel-transition); }
.carousel-fade .active.carousel-item-left, .carousel-face .active.carousel-item-right { @include transition(opacity 0s $carousel-transition-duration); }
.carousel-control-prev, .carousel-control-next {
    width: $carousel-control-width;
    color: $carousel-control-color;
    opacity: $carousel-control-opacity;
    @include transition($carousel-control-transition);
    @include hover-focus() {
        color: $carousel-control-color;
        opacity: $carousel-control-hover-opacity;
    }
}
.carousel-control-prev {
    @if $enable-gradients { background-image: linear-gradient(90deg, rgba($black, .25), rgba($black, .001)); }
}
.carousel-control-next {
    @if $enable-gradients { background-image: linear-gradient(270deg, rgba($black, .25), rgba($black, .001)); }
}
.carousel-control-prev-icon, .carousel-control-next-icon {
    width: $carousel-control-icon-width;
    height: $carousel-control-icon-width;
}
.carousel-indicators {
    margin-right: $carousel-control-width;
    margin-left: $carousel-control-width;

    li {
        width: $carousel-indicator-width;
        height: $carousel-indicator-height;
        margin-right: $carousel-indicator-spacer;
        margin-left: $carousel-indicator-spacer;
        background-color: $carousel-indicator-active-bg;
        border-top: $carousel-indicator-hit-area-height solid transparent;
        border-bottom: $carousel-indicator-hit-area-height solid transparent;
        @include transition($carousel-indicator-transition);
    }
}
.carousel-caption {
    right: (100% - $carousel-caption-width) * .5;
    left: (100% - $carousel-caption-width) * .5;
    color: $carousel-caption-color;
}
